<a href="https://colab.research.google.com/github/trinhvanypro1/Learning-Python-Advanced/blob/master/Swapping_Web_DoAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Import các module cần thiết***

In [336]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

***import link và khởi tạo module BeautifulSoup***

In [337]:
url='https://biluxury.vn/collections/ao-nam'
html=urlopen(url)
soup=BeautifulSoup(html,'lxml')

In [338]:
title=soup.title
print(title)

<title>
			Áo nam
		</title>

***Lấy dữ liệu html từ sản phẩm áo***

In [339]:
list_ao=soup.find_all('div', attrs={'class':'grid-uniform product-list md-mg-left-15 d-flex-wrap'})

Lấy dữ liệu

In [340]:
# Tên sản phẩm:
for i in list_ao:
  sp=i.find_all('h3',attrs={'class':"product-title"})
  str_sp=str(sp)
  list_sp=[]
  import re
  clean=re.compile('<.*?>')
  clean2=(re.sub(clean, '',str_sp))
  list_sp.append(clean2)

In [341]:
#Giá sản phẩm:
for j in list_ao:
  gia=j.find_all('div',attrs={'class':'product-price'})
  str_gia=str(gia)
  list_gia=[]
  import re
  clean_gia=re.compile('<.*?>')
  clean_gia2=(re.sub(clean_gia, '',str_gia))
  list_gia.append(clean_gia2)

In [342]:
#Số lượng bán:
for k in list_ao:
  sl_ban=k.find_all('div',attrs={'class':'product-sold'})
  str_sl_ban=str(sl_ban)
  list_sl_ban=[]
  import re
  clean_sl_ban=re.compile('<.*?>')
  clean_sl_ban2=(re.sub(clean_sl_ban,'',str_sl_ban))
  list_sl_ban.append(clean_sl_ban2)

***In dữ liệu:***

> Văn bản được thụt lề

In [343]:
list_sp

['[Áo len nam Biluxury 5ALRT001TRK, Áo len nam Biluxury 5ALRT001TTS, Áo len nam Biluxury 5ALRT001DEN, Áo khoác gió 5AG2T004GHS, Áo khoác gió 5AG2T004CAM, Áo khoác gió 5AG2T004DEN, Áo khoác gió 5AG2T007GHS, Áo khoác gió 2 lớp 4AG2H009DEN, Áo khoác gió 5AG2T004TTS, Áo khoác gió 5AG2T009DEN, Áo khoác gió 4AG2T007REU, Áo nỉ thể thao cao cấp 4ANOT008GHT, Áo nỉ thể thao cao cấp 4ANOT012VAB, Áo vest nam Biluxury 5AVBC007DEN, Áo vest nam Biluxury 5AVBC008DEN, Áo len nam Biluxury 5ALRH002TTS, Áo len nam Biluxury 5ALRH001GHS, Áo khoác gió 5AG2T007TTT, Áo khoác gió 5AG2T009XAH, Áo Thun giữ nhiệt Biluxury 5ATOB001XDM, Áo Thun giữ nhiệt Biluxury 5ATOB001TTT, Áo Thun giữ nhiệt Biluxury 5ATOB001TRK, Áo Thun giữ nhiệt Biluxury 5ATOB001GHT, Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]']

In [344]:
list_gia

['[\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n469,000₫ 699,000₫\n, \n469,000₫ 699,000₫\n, \n469,000₫ 699,000₫\n, \n695,000₫\n, \n735,000₫\n, \n469,000₫ 699,000₫\n, \n799,000₫\n, \n399,000₫ 945,000₫\n, \n249,000₫ 398,000₫\n, \n249,000₫ 389,000₫\n, \n1,690,000₫\n, \n1,865,000₫\n, \n525,000₫\n, \n535,000₫\n, \n695,000₫\n, \n799,000₫\n, \n279,000₫\n, \n279,000₫\n, \n279,000₫\n, \n279,000₫\n, \n279,000₫\n]']

In [345]:
list_sl_ban

['[   (100 đã bán),    (100 đã bán),    (100 đã bán),    (102 đã bán),    (101 đã bán),    (102 đã bán),    (103 đã bán),    (101 đã bán),    (103 đã bán),    (102 đã bán),    (123 đã bán),    (106 đã bán),    (101 đã bán),    (100 đã bán),    (100 đã bán),    (100 đã bán),    (101 đã bán),    (108 đã bán),    (109 đã bán),    (102 đã bán),    (101 đã bán),    (102 đã bán),    (102 đã bán),    (100 đã bán)]']

***Tạo DataFrame***

In [346]:
df=pd.DataFrame(list_sp)
df.head(10)

                                                   0
0  [Áo len nam Biluxury 5ALRT001TRK, Áo len nam B...

In [347]:
df2=pd.DataFrame(list_gia)
df2.head(10)

                                                   0
0  [\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n4...

In [348]:
df3=pd.DataFrame(list_sl_ban)
df3.head(10)

                                                   0
0  [   (100 đã bán),    (100 đã bán),    (100 đã ...

***Tách giá trị***

In [349]:
df=df[0].str.split(',',expand=True)
df.head(7)

                                 0   ...                                        23
0  [Áo len nam Biluxury 5ALRT001TRK  ...   Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]

[1 rows x 24 columns]

In [350]:
df2=df2[0].str.split(',',expand=True)
df2.head(5)

       0       1       2       3   ...      53      54      55       56
0  [\n475  000₫\n   \n475  000₫\n  ...   \n279  000₫\n   \n279  000₫\n]

[1 rows x 57 columns]

In [351]:
df3=df3[0].str.split(',',expand=True)
df3.head(5)

                 0                 1   ...                22                 23
0  [   (100 đã bán)      (100 đã bán)  ...      (102 đã bán)      (100 đã bán)]

[1 rows x 24 columns]

***Chuyển về dạng unstack***

In [352]:
df=df.unstack()
df.head(10)

0  0    [Áo len nam Biluxury 5ALRT001TRK
1  0     Áo len nam Biluxury 5ALRT001TTS
2  0     Áo len nam Biluxury 5ALRT001DEN
3  0            Áo khoác gió 5AG2T004GHS
4  0            Áo khoác gió 5AG2T004CAM
5  0            Áo khoác gió 5AG2T004DEN
6  0            Áo khoác gió 5AG2T007GHS
7  0      Áo khoác gió 2 lớp 4AG2H009DEN
8  0            Áo khoác gió 5AG2T004TTS
9  0            Áo khoác gió 5AG2T009DEN
dtype: object

In [353]:
df2=df2.unstack()
df2.head(5)

0  0    [\n475
1  0    000₫\n
2  0     \n475
3  0    000₫\n
4  0     \n475
dtype: object

In [354]:
df3=df3.unstack()
df3.head(5)

0  0    [   (100 đã bán)
1  0        (100 đã bán)
2  0        (100 đã bán)
3  0        (102 đã bán)
4  0        (101 đã bán)
dtype: object

***Xử lý df2:***

In [355]:
df2=pd.DataFrame(df2)

In [356]:

df2=df2.reset_index()
df2.head(3)

   level_0  level_1       0
0        0        0  [\n475
1        1        0  000₫\n
2        2        0   \n475

In [357]:

del df2['level_0']
del df2['level_1']

Xử lí df1

In [361]:
df=pd.DataFrame(df)
df.reset_index().head(10)

   level_0  level_1                                 0
0        0        0  [Áo len nam Biluxury 5ALRT001TRK
1        1        0   Áo len nam Biluxury 5ALRT001TTS
2        2        0   Áo len nam Biluxury 5ALRT001DEN
3        3        0          Áo khoác gió 5AG2T004GHS
4        4        0          Áo khoác gió 5AG2T004CAM
5        5        0          Áo khoác gió 5AG2T004DEN
6        6        0          Áo khoác gió 5AG2T007GHS
7        7        0    Áo khoác gió 2 lớp 4AG2H009DEN
8        8        0          Áo khoác gió 5AG2T004TTS
9        9        0          Áo khoác gió 5AG2T009DEN