<a href="https://colab.research.google.com/github/trinhvanypro1/Learning-Python-Advanced/blob/master/Swapping_Web_DoAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Import các module cần thiết***

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

***import link và khởi tạo module BeautifulSoup***

In [109]:
url='https://biluxury.vn/collections/ao-nam'
html=urlopen(url)
soup=BeautifulSoup(html,'lxml')

In [110]:
title=soup.title
print(title)

<title>
			Áo nam
		</title>

***Lấy dữ liệu html từ sản phẩm áo***

In [111]:
list_ao=soup.find_all('div', attrs={'class':'grid-uniform product-list md-mg-left-15 d-flex-wrap'})

Lấy dữ liệu

In [112]:
# Tên sản phẩm:
for i in list_ao:
  sp=i.find_all('h3',attrs={'class':"product-title"})
  str_sp=str(sp)
  list_sp=[]
  import re
  clean=re.compile('<.*?>')
  clean2=(re.sub(clean, '',str_sp))
  list_sp.append(clean2)

In [113]:
clean

re.compile(r'<.*?>', re.UNICODE)

In [114]:
#Giá sản phẩm:
for j in list_ao:
  gia=j.find_all('div',attrs={'class':'product-price'})
  str_gia=str(gia)
  list_gia=[]
  import re
  clean_gia=re.compile('<.*?>')
  clean_gia2=(re.sub(clean_gia, '',str_gia))
  list_gia.append(clean_gia2)

In [115]:
#Số lượng bán:
for k in list_ao:
  sl_ban=k.find_all('div',attrs={'class':'product-sold'})
  str_sl_ban=str(sl_ban)
  list_sl_ban=[]
  import re
  clean_sl_ban=re.compile('<.*?>')
  clean_sl_ban2=(re.sub(clean_sl_ban,'',str_sl_ban))
  list_sl_ban.append(clean_sl_ban2)

***In dữ liệu:***

> Văn bản được thụt lề

In [116]:
list_sp

['[Áo len nam Biluxury 5ALRT001TRK, Áo len nam Biluxury 5ALRT001TTS, Áo len nam Biluxury 5ALRT001DEN, Áo khoác gió 5AG2T004GHS, Áo khoác gió 5AG2T004CAM, Áo khoác gió 5AG2T004DEN, Áo khoác gió 5AG2T007GHS, Áo khoác gió 2 lớp 4AG2H009DEN, Áo khoác gió 5AG2T004TTS, Áo khoác gió 5AG2T009DEN, Áo khoác gió 4AG2T007REU, Áo nỉ thể thao cao cấp 4ANOT008GHT, Áo nỉ thể thao cao cấp 4ANOT012VAB, Áo vest nam Biluxury 5AVBC007DEN, Áo vest nam Biluxury 5AVBC008DEN, Áo len nam Biluxury 5ALRH002TTS, Áo len nam Biluxury 5ALRH001GHS, Áo khoác gió 5AG2T007TTT, Áo khoác gió 5AG2T009XAH, Áo khoác gió 5AG2T007DEN, Áo khoác gió 5AG2T001XAH, Áo khoác gió 5AG2T001TTT, Áo khoác gió 5AG2T001GHS, Áo len nam Biluxury 5ALRB001XCB]']

In [117]:
list_gia

['[\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n699,000₫\n, \n699,000₫\n, \n699,000₫\n, \n695,000₫\n, \n735,000₫\n, \n699,000₫\n, \n799,000₫\n, \n399,000₫ 945,000₫\n, \n249,000₫ 398,000₫\n, \n249,000₫ 389,000₫\n, \n1,690,000₫\n, \n1,865,000₫\n, \n525,000₫\n, \n535,000₫\n, \n695,000₫\n, \n799,000₫\n, \n695,000₫\n, \n695,000₫\n, \n695,000₫\n, \n695,000₫\n, \n449,000₫\n]']

In [118]:
list_sl_ban

['[   (103 đã bán),    (101 đã bán),    (102 đã bán),    (102 đã bán),    (101 đã bán),    (104 đã bán),    (104 đã bán),    (102 đã bán),    (106 đã bán),    (103 đã bán),    (140 đã bán),    (109 đã bán),    (102 đã bán),    (100 đã bán),    (100 đã bán),    (106 đã bán),    (105 đã bán),    (113 đã bán),    (111 đã bán),    (111 đã bán),    (110 đã bán),    (104 đã bán),    (103 đã bán),    (100 đã bán)]']

***Tạo DataFrame***

In [119]:
df=pd.DataFrame(list_sp)
df

                                                   0
0  [Áo len nam Biluxury 5ALRT001TRK, Áo len nam B...

In [120]:
df2=pd.DataFrame(list_gia)
df2

                                                   0
0  [\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n6...

In [121]:
df3=pd.DataFrame(list_sl_ban)
df3

                                                   0
0  [   (103 đã bán),    (101 đã bán),    (102 đã ...

***Tách giá trị***

In [122]:
df=df[0].str.split(',',expand=True)
df.head(7)

                                 0   ...                                 23
0  [Áo len nam Biluxury 5ALRT001TRK  ...   Áo len nam Biluxury 5ALRB001XCB]

[1 rows x 24 columns]

In [123]:
df2=df2[0].str.split(' ',expand=True)
df2.head(5)

               0              1   ...             25             26
0  [\n475,000₫\n,  \n475,000₫\n,  ...  \n695,000₫\n,  \n449,000₫\n]

[1 rows x 27 columns]

In [124]:
df3=df3[0].str.split(',',expand=True)
df3.head(5)

                 0                 1   ...                22                 23
0  [   (103 đã bán)      (101 đã bán)  ...      (103 đã bán)      (100 đã bán)]

[1 rows x 24 columns]

***Chuyển về dạng unstack***

In [125]:
df=df.unstack()
df.head(10)

0  0    [Áo len nam Biluxury 5ALRT001TRK
1  0     Áo len nam Biluxury 5ALRT001TTS
2  0     Áo len nam Biluxury 5ALRT001DEN
3  0            Áo khoác gió 5AG2T004GHS
4  0            Áo khoác gió 5AG2T004CAM
5  0            Áo khoác gió 5AG2T004DEN
6  0            Áo khoác gió 5AG2T007GHS
7  0      Áo khoác gió 2 lớp 4AG2H009DEN
8  0            Áo khoác gió 5AG2T004TTS
9  0            Áo khoác gió 5AG2T009DEN
dtype: object

In [126]:
df2=df2.unstack()
df2.head(5)

0  0    [\n475,000₫\n,
1  0     \n475,000₫\n,
2  0     \n475,000₫\n,
3  0     \n699,000₫\n,
4  0     \n699,000₫\n,
dtype: object

In [127]:
df3=df3.unstack()
df3.head(5)

0  0    [   (103 đã bán)
1  0        (101 đã bán)
2  0        (102 đã bán)
3  0        (102 đã bán)
4  0        (101 đã bán)
dtype: object

**Xử lý df3**

In [128]:
df3=df3.reset_index()
df3.head(3)

   level_0  level_1                 0
0        0        0  [   (103 đã bán)
1        1        0      (101 đã bán)
2        2        0      (102 đã bán)

In [129]:
del df3['level_0']
del df3['level_1']

***Xử lý df2:***

In [130]:
df2=df2.reset_index()
df2.head(3)

   level_0  level_1               0
0        0        0  [\n475,000₫\n,
1        1        0   \n475,000₫\n,
2        2        0   \n475,000₫\n,

In [131]:

del df2['level_0']
del df2['level_1']

In [132]:
df2.head(5)

                0
0  [\n475,000₫\n,
1   \n475,000₫\n,
2   \n475,000₫\n,
3   \n699,000₫\n,
4   \n699,000₫\n,

Xử lý df

In [133]:
df=df.reset_index()
df.head(3)

   level_0  level_1                                 0
0        0        0  [Áo len nam Biluxury 5ALRT001TRK
1        1        0   Áo len nam Biluxury 5ALRT001TTS
2        2        0   Áo len nam Biluxury 5ALRT001DEN

In [134]:
del df['level_0']
del df['level_1']

Đổi tên cột

In [135]:
df=df.set_axis(['T-Shirt Name'],axis=1,inplace=False)

In [136]:
df2=df2.set_axis(['Product Price'],axis=1,inplace=False)

In [137]:
df3=df3.set_axis(['Product Sold'],axis=1,inplace=False)

In [138]:
product_tshirt=pd.concat([df,df2,df3],axis=1)

In [139]:
product_tshirt.head(5)

                       T-Shirt Name   Product Price      Product Sold
0  [Áo len nam Biluxury 5ALRT001TRK  [\n475,000₫\n,  [   (103 đã bán)
1   Áo len nam Biluxury 5ALRT001TTS   \n475,000₫\n,      (101 đã bán)
2   Áo len nam Biluxury 5ALRT001DEN   \n475,000₫\n,      (102 đã bán)
3          Áo khoác gió 5AG2T004GHS   \n699,000₫\n,      (102 đã bán)
4          Áo khoác gió 5AG2T004CAM   \n699,000₫\n,      (101 đã bán)

In [140]:
product_tshirt['T-Shirt Name']=product_tshirt['T-Shirt Name'].str.strip('[]')
product_tshirt['Product Price']=product_tshirt['Product Price'].str.strip('[\n]')
product_tshirt['Product Price']=product_tshirt['Product Price'].str.strip('\n,')
product_tshirt['Product Sold']=product_tshirt['Product Sold'].str.strip('[)]')
product_tshirt['Product Sold']=product_tshirt['Product Sold'].str.strip(' (')

In [141]:
product_tshirt

                           T-Shirt Name Product Price Product Sold
0       Áo len nam Biluxury 5ALRT001TRK      475,000₫   103 đã bán
1       Áo len nam Biluxury 5ALRT001TTS      475,000₫   101 đã bán
2       Áo len nam Biluxury 5ALRT001DEN      475,000₫   102 đã bán
3              Áo khoác gió 5AG2T004GHS      699,000₫   102 đã bán
4              Áo khoác gió 5AG2T004CAM      699,000₫   101 đã bán
5              Áo khoác gió 5AG2T004DEN      699,000₫   104 đã bán
6              Áo khoác gió 5AG2T007GHS      695,000₫   104 đã bán
7        Áo khoác gió 2 lớp 4AG2H009DEN      735,000₫   102 đã bán
8              Áo khoác gió 5AG2T004TTS      699,000₫   106 đã bán
9              Áo khoác gió 5AG2T009DEN      799,000₫   103 đã bán
10             Áo khoác gió 4AG2T007REU      399,000₫   140 đã bán
11   Áo nỉ thể thao cao cấp 4ANOT008GHT      945,000₫   109 đã bán
12   Áo nỉ thể thao cao cấp 4ANOT012VAB      249,000₫   102 đã bán
13     Áo vest nam Biluxury 5AVBC007DEN      398,000₫   100 đã bán
14     Áo vest nam Biluxury 5AVBC008DEN      249,000₫   100 đã bán
15      Áo len nam Biluxury 5ALRH002TTS      389,000₫   106 đã bán
16      Áo len nam Biluxury 5ALRH001GHS    1,690,000₫   105 đã bán
17             Áo khoác gió 5AG2T007TTT    1,865,000₫   113 đã bán
18             Áo khoác gió 5AG2T009XAH      525,000₫   111 đã bán
19             Áo khoác gió 5AG2T007DEN      535,000₫   111 đã bán
20             Áo khoác gió 5AG2T001XAH      695,000₫   110 đã bán
21             Áo khoác gió 5AG2T001TTT      799,000₫   104 đã bán
22             Áo khoác gió 5AG2T001GHS      695,000₫   103 đã bán
23      Áo len nam Biluxury 5ALRB001XCB      695,000₫   100 đã bán
24                                  NaN      695,000₫          NaN
25                                  NaN      695,000₫          NaN
26                                  NaN      449,000₫          NaN

In [142]:
product_tshirt.to_csv('product_t-shirt.csv')