<a href="https://colab.research.google.com/github/trinhvanypro1/Learning-Python-Advanced/blob/master/Swapping_Web_DoAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Import các module cần thiết***

In [865]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

***import link và khởi tạo module BeautifulSoup***

In [866]:
url='https://biluxury.vn/collections/ao-nam'
html=urlopen(url)
soup=BeautifulSoup(html,'lxml')

In [867]:
title=soup.title
print(title)

<title>
			Áo nam
		</title>

***Lấy dữ liệu html từ sản phẩm áo***

In [868]:
list_ao=soup.find_all('div', attrs={'class':'grid-uniform product-list md-mg-left-15 d-flex-wrap'})

Lấy dữ liệu

In [869]:
# Tên sản phẩm:
for i in list_ao:
  sp=i.find_all('h3',attrs={'class':"product-title"})
  str_sp=str(sp)
  list_sp=[]
  import re
  clean=re.compile('<.*?>')
  clean2=(re.sub(clean, '',str_sp))
  list_sp.append(clean2)

In [870]:
#Giá sản phẩm:
for j in list_ao:
  gia=j.find_all('div',attrs={'class':'product-price'})
  str_gia=str(gia)
  list_gia=[]
  import re
  clean_gia=re.compile('<.*?>')
  clean_gia2=(re.sub(clean_gia, '',str_gia))
  list_gia.append(clean_gia2)

In [871]:
#Số lượng bán:
for k in list_ao:
  sl_ban=k.find_all('div',attrs={'class':'product-sold'})
  str_sl_ban=str(sl_ban)
  list_sl_ban=[]
  import re
  clean_sl_ban=re.compile('<.*?>')
  clean_sl_ban2=(re.sub(clean_sl_ban,'',str_sl_ban))
  list_sl_ban.append(clean_sl_ban2)

***In dữ liệu:***

> Văn bản được thụt lề

In [872]:
list_sp

['[Áo len nam Biluxury 5ALRT001TRK, Áo len nam Biluxury 5ALRT001TTS, Áo len nam Biluxury 5ALRT001DEN, Áo khoác gió 5AG2T004GHS, Áo khoác gió 5AG2T004CAM, Áo khoác gió 5AG2T004DEN, Áo khoác gió 5AG2T007GHS, Áo khoác gió 2 lớp 4AG2H009DEN, Áo khoác gió 5AG2T004TTS, Áo khoác gió 5AG2T009DEN, Áo khoác gió 4AG2T007REU, Áo nỉ thể thao cao cấp 4ANOT008GHT, Áo nỉ thể thao cao cấp 4ANOT012VAB, Áo vest nam Biluxury 5AVBC007DEN, Áo vest nam Biluxury 5AVBC008DEN, Áo len nam Biluxury 5ALRH002TTS, Áo len nam Biluxury 5ALRH001GHS, Áo khoác gió 5AG2T007TTT, Áo khoác gió 5AG2T009XAH, Áo Thun giữ nhiệt Biluxury 5ATOB001XDM, Áo Thun giữ nhiệt Biluxury 5ATOB001TTT, Áo Thun giữ nhiệt Biluxury 5ATOB001TRK, Áo Thun giữ nhiệt Biluxury 5ATOB001GHT, Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]']

In [873]:
list_gia

['[\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n699,000₫\n, \n699,000₫\n, \n699,000₫\n, \n695,000₫\n, \n735,000₫\n, \n469,000₫ 699,000₫\n, \n799,000₫\n, \n399,000₫ 945,000₫\n, \n249,000₫ 398,000₫\n, \n249,000₫ 389,000₫\n, \n1,690,000₫\n, \n1,865,000₫\n, \n525,000₫\n, \n535,000₫\n, \n695,000₫\n, \n799,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n]']

In [874]:
list_sl_ban

['[   (100 đã bán),    (101 đã bán),    (100 đã bán),    (102 đã bán),    (101 đã bán),    (104 đã bán),    (103 đã bán),    (102 đã bán),    (103 đã bán),    (102 đã bán),    (130 đã bán),    (108 đã bán),    (102 đã bán),    (100 đã bán),    (100 đã bán),    (103 đã bán),    (103 đã bán),    (110 đã bán),    (111 đã bán),    (136 đã bán),    (125 đã bán),    (124 đã bán),    (125 đã bán),    (122 đã bán)]']

***Tạo DataFrame***

In [875]:
df=pd.DataFrame(list_sp)
df.head(10)

                                                   0
0  [Áo len nam Biluxury 5ALRT001TRK, Áo len nam B...

In [876]:
df2=pd.DataFrame(list_gia)
df2.head(10)

                                                   0
0  [\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n6...

In [877]:
df3=pd.DataFrame(list_sl_ban)
df3.head(10)

                                                   0
0  [   (100 đã bán),    (101 đã bán),    (100 đã ...

***Tách giá trị***

In [878]:
df=df[0].str.split(',',expand=True)
df.head(7)

                                 0   ...                                        23
0  [Áo len nam Biluxury 5ALRT001TRK  ...   Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]

[1 rows x 24 columns]

In [879]:
df2=df2[0].str.split(' ',expand=True)
df2.head(5)

               0              1   ...         31           32
0  [\n475,000₫\n,  \n475,000₫\n,  ...  \n99,000₫  279,000₫\n]

[1 rows x 33 columns]

In [880]:
df3=df3[0].str.split(',',expand=True)
df3.head(5)

                 0                 1   ...                22                 23
0  [   (100 đã bán)      (101 đã bán)  ...      (125 đã bán)      (122 đã bán)]

[1 rows x 24 columns]

***Chuyển về dạng unstack***

In [881]:
df=df.unstack()
df.head(10)

0  0    [Áo len nam Biluxury 5ALRT001TRK
1  0     Áo len nam Biluxury 5ALRT001TTS
2  0     Áo len nam Biluxury 5ALRT001DEN
3  0            Áo khoác gió 5AG2T004GHS
4  0            Áo khoác gió 5AG2T004CAM
5  0            Áo khoác gió 5AG2T004DEN
6  0            Áo khoác gió 5AG2T007GHS
7  0      Áo khoác gió 2 lớp 4AG2H009DEN
8  0            Áo khoác gió 5AG2T004TTS
9  0            Áo khoác gió 5AG2T009DEN
dtype: object

In [882]:
df2=df2.unstack()
df2.head(5)

0  0    [\n475,000₫\n,
1  0     \n475,000₫\n,
2  0     \n475,000₫\n,
3  0     \n699,000₫\n,
4  0     \n699,000₫\n,
dtype: object

In [883]:
df3=df3.unstack()
df3.head(5)

0  0    [   (100 đã bán)
1  0        (101 đã bán)
2  0        (100 đã bán)
3  0        (102 đã bán)
4  0        (101 đã bán)
dtype: object

**Xử lý df3**

In [884]:
df3=pd.DataFrame(df3)

In [885]:
df3=df3.reset_index()
df3.head(3)

   level_0  level_1                 0
0        0        0  [   (100 đã bán)
1        1        0      (101 đã bán)
2        2        0      (100 đã bán)

In [886]:
del df3['level_0']
del df3['level_1']

***Xử lý df2:***

In [887]:
df2=pd.DataFrame(df2)

In [888]:

df2=df2.reset_index()
df2.head(3)

   level_0  level_1               0
0        0        0  [\n475,000₫\n,
1        1        0   \n475,000₫\n,
2        2        0   \n475,000₫\n,

In [889]:

del df2['level_0']
del df2['level_1']

In [890]:
df2.head(5)

                0
0  [\n475,000₫\n,
1   \n475,000₫\n,
2   \n475,000₫\n,
3   \n699,000₫\n,
4   \n699,000₫\n,

Xử lý df

In [891]:
df=df.reset_index()
df.head(3)

   level_0  level_1                                 0
0        0        0  [Áo len nam Biluxury 5ALRT001TRK
1        1        0   Áo len nam Biluxury 5ALRT001TTS
2        2        0   Áo len nam Biluxury 5ALRT001DEN

In [892]:
del df['level_0']
del df['level_1']

Đổi tên cột

In [893]:
df=df.set_axis(['T-Shirt Name'],axis=1,inplace=False)

In [894]:
df2=df2.set_axis(['Product Price'],axis=1,inplace=False)

In [895]:
df3=df3.set_axis(['Product Sold'],axis=1,inplace=False)

In [896]:
frame=[df,df2,df3]
df=pd.concat(frame)

In [897]:
df

                        T-Shirt Name Product Price       Product Sold
0   [Áo len nam Biluxury 5ALRT001TRK           NaN                NaN
1    Áo len nam Biluxury 5ALRT001TTS           NaN                NaN
2    Áo len nam Biluxury 5ALRT001DEN           NaN                NaN
3           Áo khoác gió 5AG2T004GHS           NaN                NaN
4           Áo khoác gió 5AG2T004CAM           NaN                NaN
..                               ...           ...                ...
19                               NaN           NaN       (136 đã bán)
20                               NaN           NaN       (125 đã bán)
21                               NaN           NaN       (124 đã bán)
22                               NaN           NaN       (125 đã bán)
23                               NaN           NaN      (122 đã bán)]

[81 rows x 3 columns]