<a href="https://colab.research.google.com/github/trinhvanypro1/Learning-Python-Advanced/blob/master/Swapping_Web_DoAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Import các module cần thiết***

In [664]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

***import link và khởi tạo module BeautifulSoup***

In [665]:
url='https://biluxury.vn/collections/ao-nam'
html=urlopen(url)
soup=BeautifulSoup(html,'lxml')

In [666]:
title=soup.title
print(title)

<title>
			Áo nam
		</title>

***Lấy dữ liệu html từ sản phẩm áo***

In [667]:
list_ao=soup.find_all('div', attrs={'class':'grid-uniform product-list md-mg-left-15 d-flex-wrap'})

Lấy dữ liệu

In [668]:
# Tên sản phẩm:
for i in list_ao:
  sp=i.find_all('h3',attrs={'class':"product-title"})
  str_sp=str(sp)
  list_sp=[]
  import re
  clean=re.compile('<.*?>')
  clean2=(re.sub(clean, '',str_sp))
  list_sp.append(clean2)

In [669]:
#Giá sản phẩm:
for j in list_ao:
  gia=j.find_all('div',attrs={'class':'product-price'})
  str_gia=str(gia)
  list_gia=[]
  import re
  clean_gia=re.compile('<.*?>')
  clean_gia2=(re.sub(clean_gia, '',str_gia))
  list_gia.append(clean_gia2)

In [670]:
#Số lượng bán:
for k in list_ao:
  sl_ban=k.find_all('div',attrs={'class':'product-sold'})
  str_sl_ban=str(sl_ban)
  list_sl_ban=[]
  import re
  clean_sl_ban=re.compile('<.*?>')
  clean_sl_ban2=(re.sub(clean_sl_ban,'',str_sl_ban))
  list_sl_ban.append(clean_sl_ban2)

***In dữ liệu:***

> Văn bản được thụt lề

In [671]:
list_sp

['[Áo len nam Biluxury 5ALRT001TRK, Áo len nam Biluxury 5ALRT001TTS, Áo len nam Biluxury 5ALRT001DEN, Áo khoác gió 5AG2T004GHS, Áo khoác gió 5AG2T004CAM, Áo khoác gió 5AG2T004DEN, Áo khoác gió 5AG2T007GHS, Áo khoác gió 2 lớp 4AG2H009DEN, Áo khoác gió 5AG2T004TTS, Áo khoác gió 5AG2T009DEN, Áo khoác gió 4AG2T007REU, Áo nỉ thể thao cao cấp 4ANOT008GHT, Áo nỉ thể thao cao cấp 4ANOT012VAB, Áo vest nam Biluxury 5AVBC007DEN, Áo vest nam Biluxury 5AVBC008DEN, Áo len nam Biluxury 5ALRH002TTS, Áo len nam Biluxury 5ALRH001GHS, Áo khoác gió 5AG2T007TTT, Áo khoác gió 5AG2T009XAH, Áo Thun giữ nhiệt Biluxury 5ATOB001XDM, Áo Thun giữ nhiệt Biluxury 5ATOB001TTT, Áo Thun giữ nhiệt Biluxury 5ATOB001TRK, Áo Thun giữ nhiệt Biluxury 5ATOB001GHT, Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]']

In [672]:
list_gia

['[\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n699,000₫\n, \n699,000₫\n, \n699,000₫\n, \n695,000₫\n, \n735,000₫\n, \n469,000₫ 699,000₫\n, \n799,000₫\n, \n399,000₫ 945,000₫\n, \n249,000₫ 398,000₫\n, \n249,000₫ 389,000₫\n, \n1,690,000₫\n, \n1,865,000₫\n, \n525,000₫\n, \n535,000₫\n, \n695,000₫\n, \n799,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n, \n99,000₫ 279,000₫\n]']

In [673]:
list_sl_ban

['[   (100 đã bán),    (101 đã bán),    (100 đã bán),    (102 đã bán),    (101 đã bán),    (104 đã bán),    (103 đã bán),    (102 đã bán),    (103 đã bán),    (102 đã bán),    (136 đã bán),    (108 đã bán),    (102 đã bán),    (100 đã bán),    (100 đã bán),    (103 đã bán),    (103 đã bán),    (110 đã bán),    (112 đã bán),    (153 đã bán),    (134 đã bán),    (131 đã bán),    (134 đã bán),    (132 đã bán)]']

***Tạo DataFrame***

In [674]:
df=pd.DataFrame(list_sp)
df.head(10)

                                                   0
0  [Áo len nam Biluxury 5ALRT001TRK, Áo len nam B...

In [675]:
df2=pd.DataFrame(list_gia)
df2.head(10)

                                                   0
0  [\n475,000₫\n, \n475,000₫\n, \n475,000₫\n, \n6...

In [676]:
df3=pd.DataFrame(list_sl_ban)
df3.head(10)

                                                   0
0  [   (100 đã bán),    (101 đã bán),    (100 đã ...

***Tách giá trị***

In [677]:
df=df[0].str.split(',',expand=True)
df.head(7)

                                 0   ...                                        23
0  [Áo len nam Biluxury 5ALRT001TRK  ...   Áo Thun giữ nhiệt Biluxury 5ATOB001GHS]

[1 rows x 24 columns]

In [678]:
df2=df2[0].str.split(' ',expand=True)
df2.head(5)

               0              1   ...         31           32
0  [\n475,000₫\n,  \n475,000₫\n,  ...  \n99,000₫  279,000₫\n]

[1 rows x 33 columns]

In [679]:
df3=df3[0].str.split(',',expand=True)
df3.head(5)

                 0                 1   ...                22                 23
0  [   (100 đã bán)      (101 đã bán)  ...      (134 đã bán)      (132 đã bán)]

[1 rows x 24 columns]

***Chuyển về dạng unstack***

In [680]:
df=df.unstack()
df.head(10)

0  0    [Áo len nam Biluxury 5ALRT001TRK
1  0     Áo len nam Biluxury 5ALRT001TTS
2  0     Áo len nam Biluxury 5ALRT001DEN
3  0            Áo khoác gió 5AG2T004GHS
4  0            Áo khoác gió 5AG2T004CAM
5  0            Áo khoác gió 5AG2T004DEN
6  0            Áo khoác gió 5AG2T007GHS
7  0      Áo khoác gió 2 lớp 4AG2H009DEN
8  0            Áo khoác gió 5AG2T004TTS
9  0            Áo khoác gió 5AG2T009DEN
dtype: object

In [681]:
df2=df2.unstack()
df2.head(5)

0  0    [\n475,000₫\n,
1  0     \n475,000₫\n,
2  0     \n475,000₫\n,
3  0     \n699,000₫\n,
4  0     \n699,000₫\n,
dtype: object

In [682]:
df3=df3.unstack()
df3.head(5)

0  0    [   (100 đã bán)
1  0        (101 đã bán)
2  0        (100 đã bán)
3  0        (102 đã bán)
4  0        (101 đã bán)
dtype: object

**Xử lý df3**

In [683]:
df3=pd.DataFrame(df3)

In [684]:
df3=df3.reset_index()
df3.head(3)

   level_0  level_1                 0
0        0        0  [   (100 đã bán)
1        1        0      (101 đã bán)
2        2        0      (100 đã bán)

In [685]:
del df3['level_0']
del df3['level_1']

***Xử lý df2:***

In [686]:
df2=pd.DataFrame(df2)

In [687]:

df2=df2.reset_index()
df2.head(3)

   level_0  level_1               0
0        0        0  [\n475,000₫\n,
1        1        0   \n475,000₫\n,
2        2        0   \n475,000₫\n,

In [688]:

del df2['level_0']
del df2['level_1']

In [689]:
df2.head(5)

                0
0  [\n475,000₫\n,
1   \n475,000₫\n,
2   \n475,000₫\n,
3   \n699,000₫\n,
4   \n699,000₫\n,

Xử lý df

In [690]:
df=df.reset_index()
df.head(3)

   level_0  level_1                                 0
0        0        0  [Áo len nam Biluxury 5ALRT001TRK
1        1        0   Áo len nam Biluxury 5ALRT001TTS
2        2        0   Áo len nam Biluxury 5ALRT001DEN

In [691]:
del df['level_0']
del df['level_1']

Đổi tên cột

In [692]:
df=df.set_axis(['T-Shirt Name'],axis=1,inplace=False)

In [693]:
df2=df2.set_axis(['Product Price'],axis=1,inplace=False)

In [694]:
df3=df3.set_axis(['Product Sold'],axis=1,inplace=False)

In [695]:
product_tshirt=pd.concat([df,df2,df3],axis=1)

In [696]:
product_tshirt.head(5)

                       T-Shirt Name   Product Price      Product Sold
0  [Áo len nam Biluxury 5ALRT001TRK  [\n475,000₫\n,  [   (100 đã bán)
1   Áo len nam Biluxury 5ALRT001TTS   \n475,000₫\n,      (101 đã bán)
2   Áo len nam Biluxury 5ALRT001DEN   \n475,000₫\n,      (100 đã bán)
3          Áo khoác gió 5AG2T004GHS   \n699,000₫\n,      (102 đã bán)
4          Áo khoác gió 5AG2T004CAM   \n699,000₫\n,      (101 đã bán)

In [697]:
product_tshirt['T-Shirt Name']=product_tshirt['T-Shirt Name'].str.strip('[]')
product_tshirt['Product Price']=product_tshirt['Product Price'].str.strip('[\n]')
product_tshirt['Product Price']=product_tshirt['Product Price'].str.strip('\n,')
product_tshirt['Product Sold']=product_tshirt['Product Sold'].str.strip('[)]')
product_tshirt['Product Sold']=product_tshirt['Product Sold'].str.strip(' (')

In [698]:
product_tshirt

                               T-Shirt Name Product Price Product Sold
0           Áo len nam Biluxury 5ALRT001TRK      475,000₫   100 đã bán
1           Áo len nam Biluxury 5ALRT001TTS      475,000₫   101 đã bán
2           Áo len nam Biluxury 5ALRT001DEN      475,000₫   100 đã bán
3                  Áo khoác gió 5AG2T004GHS      699,000₫   102 đã bán
4                  Áo khoác gió 5AG2T004CAM      699,000₫   101 đã bán
5                  Áo khoác gió 5AG2T004DEN      699,000₫   104 đã bán
6                  Áo khoác gió 5AG2T007GHS      695,000₫   103 đã bán
7            Áo khoác gió 2 lớp 4AG2H009DEN      735,000₫   102 đã bán
8                  Áo khoác gió 5AG2T004TTS      469,000₫   103 đã bán
9                  Áo khoác gió 5AG2T009DEN      699,000₫   102 đã bán
10                 Áo khoác gió 4AG2T007REU      799,000₫   136 đã bán
11       Áo nỉ thể thao cao cấp 4ANOT008GHT      399,000₫   108 đã bán
12       Áo nỉ thể thao cao cấp 4ANOT012VAB      945,000₫   102 đã bán
13         Áo vest nam Biluxury 5AVBC007DEN      249,000₫   100 đã bán
14         Áo vest nam Biluxury 5AVBC008DEN      398,000₫   100 đã bán
15          Áo len nam Biluxury 5ALRH002TTS      249,000₫   103 đã bán
16          Áo len nam Biluxury 5ALRH001GHS      389,000₫   103 đã bán
17                 Áo khoác gió 5AG2T007TTT    1,690,000₫   110 đã bán
18                 Áo khoác gió 5AG2T009XAH    1,865,000₫   112 đã bán
19   Áo Thun giữ nhiệt Biluxury 5ATOB001XDM      525,000₫   153 đã bán
20   Áo Thun giữ nhiệt Biluxury 5ATOB001TTT      535,000₫   134 đã bán
21   Áo Thun giữ nhiệt Biluxury 5ATOB001TRK      695,000₫   131 đã bán
22   Áo Thun giữ nhiệt Biluxury 5ATOB001GHT      799,000₫   134 đã bán
23   Áo Thun giữ nhiệt Biluxury 5ATOB001GHS       99,000₫   132 đã bán
24                                      NaN      279,000₫          NaN
25                                      NaN       99,000₫          NaN
26                                      NaN      279,000₫          NaN
27                                      NaN       99,000₫          NaN
28                                      NaN      279,000₫          NaN
29                                      NaN       99,000₫          NaN
30                                      NaN      279,000₫          NaN
31                                      NaN       99,000₫          NaN
32                                      NaN      279,000₫          NaN