<a href="https://colab.research.google.com/github/trinhvanypro1/Learning-Python-Advanced/blob/master/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [211]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [212]:
url = 'http://www.hubertiming.com/results/2017GPTR10K'
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [213]:
title=soup.title
print(title)

<title>Race results for the 2017 Intel Great Place to Run \ Urban Clash Games!</title>

In [214]:
rows = soup.find_all('tr')
for i in rows:
  row_td=i.find_all('td')
str_cells=str(row_td)
clean_txt=BeautifulSoup(str_cells, 'lxml').get_text()
import re
list_row=[]
for i in rows:
  cells=i.find_all('td')
  str_cells = str(cells)
  clean = re.compile('<.*?>')
  clean2 = (re.sub(clean, '',str_cells))
  list_row.append(clean2)

In [215]:
df = pd.DataFrame(list_row)
df.head(10)

                                                   0
0                                                 []
1                                  [Finishers:, 577]
2                                       [Male:, 414]
3                                     [Female:, 163]
4                                                 []
5  [1, 814, \r\n\r\n                    JARED WIL...
6  [2, 573, \r\n\r\n                    NATHAN A ...
7  [3, 687, \r\n\r\n                    FRANCISCO...
8  [4, 623, \r\n\r\n                    PAUL MORR...
9  [5, 569, \r\n\r\n                    DEREK G O...

In [216]:
df=df[0].str.split(',',expand=True)
df.head(7)

             0  ...        8
0           []  ...     None
1  [Finishers:  ...     None
2       [Male:  ...     None
3     [Female:  ...     None
4           []  ...     None
5           [1  ...   36:21]
6           [2  ...   36:42]

[7 rows x 9 columns]

In [217]:
df[0] = df[0].str.strip('[]')
df[8] = df[8].str.strip(']')
df[2]=df[2].str.strip('\rn')
df.head(10)

            0      1  ...                                                  7       8
0               None  ...                                               None    None
1  Finishers:   577]  ...                                               None    None
2       Male:   414]  ...                                               None    None
3     Female:   163]  ...                                               None    None
4               None  ...                                               None    None
5           1    814  ...                                                      36:21
6           2    573  ...   \n\r\n                            INTEL TEAM ...   36:42
7           3    687  ...                                                      37:44
8           4    623  ...                                                      38:34
9           5    569  ...   \n\r\n                            INTEL TEAM ...   39:21

[10 rows x 9 columns]

In [218]:
hder = []
col_label = soup.find_all('th')
col_label_str=str(col_label)
clean_hder = BeautifulSoup(col_label_str, 'lxml').get_text()
hder.append(clean_hder)

In [219]:
df2 = pd.DataFrame(hder)
df2.head()

                                                   0
0  [Place, Bib, Name, Gender, City, State, Gun Ti...

In [220]:
df2=df2[0].str.split(',',expand=True)
df2.head()

        0     1      2        3      4       5          6      7            8
0  [Place   Bib   Name   Gender   City   State   Gun Time   Team   Chip Time]

In [221]:
df2[0]=df2[0].str.strip('[')
df2[8]=df2[8].str.strip(']')
df2.head()

       0     1      2        3      4       5          6      7           8
0  Place   Bib   Name   Gender   City   State   Gun Time   Team   Chip Time

In [222]:
frame = [df2, df]
data = pd.concat(frame)
data.head(5)

            0      1      2        3  ...       5          6      7           8
0       Place    Bib   Name   Gender  ...   State   Gun Time   Team   Chip Time
0               None   None     None  ...    None       None   None        None
1  Finishers:   577]   None     None  ...    None       None   None        None
2       Male:   414]   None     None  ...    None       None   None        None
3     Female:   163]   None     None  ...    None       None   None        None

[5 rows x 9 columns]

In [223]:
data = data.rename(columns=data.iloc[0])
data.head(10)

        Place  ...   Chip Time
0       Place  ...   Chip Time
0              ...        None
1  Finishers:  ...        None
2       Male:  ...        None
3     Female:  ...        None
4              ...        None
5           1  ...       36:21
6           2  ...       36:42
7           3  ...       37:44
8           4  ...       38:34

[10 rows x 9 columns]

In [224]:
data=data.dropna(axis=0, how='any')
data.head(10)

    Place   Bib  ...                                               Team   Chip Time
0   Place   Bib  ...                                               Team   Chip Time
5       1   814  ...                                                          36:21
6       2   573  ...   \n\r\n                            INTEL TEAM ...       36:42
7       3   687  ...                                                          37:44
8       4   623  ...                                                          38:34
9       5   569  ...   \n\r\n                            INTEL TEAM ...       39:21
10      6   642  ...                                                          39:49
11      7   144  ...                                                          40:04
12      8   395  ...                                                          40:05
13      9     7  ...   \n\r\n                            COLUMBIA TE...       40:17

[10 rows x 9 columns]

In [225]:
data=data.drop(data.index[0])
data.head(10)

   Place   Bib  ...                                               Team  Chip Time
5      1   814  ...                                                         36:21
6      2   573  ...   \n\r\n                            INTEL TEAM ...      36:42
7      3   687  ...                                                         37:44
8      4   623  ...                                                         38:34
9      5   569  ...   \n\r\n                            INTEL TEAM ...      39:21
10     6   642  ...                                                         39:49
11     7   144  ...                                                         40:04
12     8   395  ...                                                         40:05
13     9     7  ...   \n\r\n                            COLUMBIA TE...      40:17
14    10     3  ...   \n\r\n                            COLUMBIA TE...      40:21

[10 rows x 9 columns]

In [227]:
data[' Name'].str.split(pat="/")
data

    Place   Bib  ...                                               Team  Chip Time
5       1   814  ...                                                         36:21
6       2   573  ...   \n\r\n                            INTEL TEAM ...      36:42
7       3   687  ...                                                         37:44
8       4   623  ...                                                         38:34
9       5   569  ...   \n\r\n                            INTEL TEAM ...      39:21
..    ...   ...  ...                                                ...        ...
577   573   273  ...                                                       1:38:17
578   574   467  ...   \n\r\n                            INTEL TEAM ...    1:38:31
579   575   471  ...                                                       1:38:32
580   576   338  ...                                                       1:40:47
581   577   443  ...                                                       1:41:18

[577 rows x 9 columns]